.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

/* Links */

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

/* Colors */

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

/* Padding */

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.l-heading {
  font-size: 40px;
}
